.box__custom {
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
}
.box__custom:hover {
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.picture {
  transition: all 0.4s;
  backface-visibility: hidden;
}
.box__custom:hover .picture {
  transform: scale(1.3);
}
.box__custom:hover .button-edit {
  opacity: 1;
  left: 0px;
}
.box__custom:hover .button-delete {
  opacity: 1;
  right: 0px;
}
.button-delete,
.button-edit {
  position: absolute;
  top: 0;
  border-radius: 0;
  transition: all 0.5s;

  z-index: 1111;
}
.button-edit {
  opacity: 0;
  left: -100px;
  border-bottom-right-radius: 30px;
}
.button-delete {
  right: -100px;
  border-bottom-left-radius: 30px;
}
